.cabanas-publico {
  background-color: #333;
  color: #e7e0e0;
}


 .H1-text{
  color: #ffffff;
}

.text-cabanas {
  color: #ffffff;
}

/* Efecto hover para las cards */
.cabanas-publico .card {
  background-color: white !important; /* Fuerza el fondo blanco */
  color: #333; /* Color de texto oscuro */
  border-radius: 4px; /* Bordes redondeados opcionales */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

/* Badges de servicios */
.badge {
  font-weight: 300;
  padding: 5px 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .cabanas-publico {
    padding-top: 30px;
  }
  
  .card {
    margin-bottom: 20px;
  }
}