.gallery-page {
  background-color: #333;
  color: #ffffff;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.gallery-item img {
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.gallery-item:hover {
  transform: translateY(-5px);
}

.gallery-item:hover img {
  transform: scale(1.00);
}

/* Modal estilizado */
.gallery-modal .modal-content {
  border-radius: 0;
  border: none;
}

/* Paginación */
.pagination .page-link {
  border: none;
  color: #d81313;
  background: transparent;
}

.pagination .page-item.active .page-link {
  background-color: #b41515;
  color: white;
}

.img-fluid {
  background-color: #333;
}

.border-0 {
  background-color: #333;
}

.page-link-custom {
  color: #eaac25;
  border-color: #eaac25;
}

.page-link-custom:hover {
  background-color: #eaac25;
  color: white;
}

.page-item.active .page-link-custom {
  background-color: #eaac25;
  color: white;
  border-color: #eaac25;
}


/* Responsive */
@media (max-width: 768px) {
  .gallery-item img {
    height: 180px;
  }
}